<div class="navbar-default sidebar" role="navigation">
	<div class="sidebar-nav navbar-collapse">
		<ul class="nav in" id="side-menu">
			<sidebar-search>
			</sidebar-search>
			<li ui-sref-active="active">
				<a ui-sref="dashboard.thing">
					<i class="fa fa-dashboard fa-fw">
					</i>
					Create Thing
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="dashboard.content">
					<i class="fa fa-bar-chart-o fa-fw">
					</i>
					Create Content
					<span>
					</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="dashboard.submit">
					<i class="fa fa-table fa-fw">
					</i>
					Create Observation
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="dashboard.display">
					<i class="fa fa-edit fa-fw">
					</i>
					Create More Observations
				</a>
			</li>
			
		</ul>
	</div>
	<!-- /.sidebar-collapse -->
</div>