<!-- form-thing.html -->
<div class="form-group">
	<h1>Create Thing</h1>
    <label id="test" for="name">Description</label>
    <input type="text" class="form-control" name="name" ng-model="formData.description">
</div>
 
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="dashboard.content" class="btn btn-block btn-info" ng-click="create(formData.description)">
    Create Thing <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>
