<!-- form-submit.html -->
<div class="text-center">
    <span class="glyphicon glyphicon-heart"></span>
    <h3>Confirmation</h3>
  	<p class="text-muted">The endpoint of your Thing : </p>
    <p>
        <a id="Thing_ID" target="_blank" href="{{formData.Thing_url}}">{{formData.Thing_url}}</a>
    </p>
    <p class="text-muted">The endpoint of your Location : </p>
    <p>
        <a id="Location_ID" target="_blank" href="{{formData.Location_url}}">{{formData.Location_url}}</a>
    </p>
    <p class="text-muted">The endpoint of your Datastream : </p>
    <p>
        <a id="Datastream_ID" target="_blank" href="{{formData.Datastream_url}}">{{formData.Datastream_url}}</a>
    </p>
    <h1>Observations</h1>
    <p>
        <a class="btn btn-lg btn-success" id="addDatastream"  ng-click="showAddObservations()"><i class="glyphicon glyphicon-plus"></i> Add Observation
        </a>
    </p>

    <div id="showObservation" ng-show='observationState.show'>
        <div class="form-horizontal">
        	<h2>Add Observation</h2>
            <div class="form-group form-horizontal">
               <label for="obResult" class="col-sm-2 control-label input-lg text-primary">Currrent Value</label>
                <div class="col-sm-10">
					<input type="text" class="form-control input-lg" name="obResult" placeholder="Ex: 40" ng-model="formData.result">
				</div>
            </div>
            <h2>Add Feature of Interest</h2>
            <div class="form-group">
				<label for="foiDescription" class="col-sm-2 control-label input-lg text-primary">Description</label>
				<div class="col-sm-10">
					<input type="text" class="form-control input-lg" name="foiDescription" placeholder="Ex: This is room 303" ng-model="formData.feaDesc">
				</div>
			</div>   
    </div>

    <button type="submit" class="btn btn-danger" ui-sref="dashboard.display" ng-click="createOb()">Create Observation</button>
</div>