<!-- form-content.html -->

<div class="form-group">
    <p class="text-muted">The endpoint of your Thing : </p>
    <p>
        <a id="Thing_ID" target="_blank" href="{{formData.Thing_url}}">{{formData.Thing_url}}</a>
    </p>
    <h1>Location</h1> <br/>
    <p>
        <a class="btn btn-lg btn-success"  id="addLocation"  ng-click="showMap()"><i class="glyphicon glyphicon-plus"></i> Add Location</a>
    </p>


    <div id="showLocation" ng-show='mapState.show'>
        <div class="row">
            <br>
                <leaflet center="calgary" class="map col-sm-6" height="480px" markers="markers" event-broadcast="events" ></leaflet>
            <br>
            <div class="showList col-sm-6 " id="showList" ></div>
            <div class="showChoice col-sm-6 " id="showChoice" >
                <h4 class="text-danger col-sm-offset-1"> Your Location : </h4>
               
                <div ng-model="markers.m">{{markers.m }}</div>
            </div>
        </div>      
    </div>
    <br/>
    <!--beign of add Datastream-->
    <h1>DataStreams</h1>
    <p>
        <a class="btn btn-lg btn-success" id="addDatastream"  ng-click="showAddDataStream()"><i class="glyphicon glyphicon-plus"></i> Add Datastream
        </a>
    </p>

    <div id="showDataStream" ng-show='dataStreamState.show'>
        <div class="form-horizontal">
            <div class="form-group form-horizontal">
                <label for="datastreamDescription" class="col-sm-2 control-label input-lg text-primary">Description</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control input-lg" name="datastreamDescription" placeholder="Ex: This is a datastream for measuring the room temperature." ng-model="formData.streamDesc">
                </div>
            </div>
            <div class="form-group dropdown">
                <label for="unitOfMeasurment" class="col-sm-2 control-label input-lg text-primary">Unit of Measurment</label>
                <div class="col-sm-10">

                     <select class="input-lg dropdown-toggle" ng-model="data.currentUnit"
                            ng-options="pp.value as pp.unitName for pp in allUnit"
                            ng-change="switchUnit(data.currentUnit)">
                    </select>
                </div>

            </div>

            <div class="form-group">
                <label for="observationType" class="col-sm-2 control-label input-lg text-primary">Observation Type</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control input-lg" name="observationType" value="Observations and Measurements (O&amp;M)" readonly="">
                </div>
            </div>
            <!--end of add datastreams-->
            <!--beign of add sensor-->
            <h2>Add Sensor</h2><br/>
            <div class="form-group">
                <label for="sensorDesc" class="col-sm-2 control-label input-lg text-primary">Description</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control input-lg" name="sensorDesc" placeholder="Ex: This is temperature sensor" ng-model="formData.sensorDesc">
                </div>
            </div>
            <div class="form-group">
                <label for="encodingType" class="col-sm-2 control-label input-lg text-primary">Encoding Type</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control input-lg" name="encodingType" value="SensorML" readonly="" value="application/pdf">
                </div>
            </div>
            <div class="form-group">
                <label for="sensorMetadata" class="col-sm-2 control-label input-lg text-primary">Metadata</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control input-lg" name="sensorMetadata" placeholder="Ex: http://example.org/TMP35_36_37.pdf" ng-model="formData.sensorMeta">
                </div>
            </div>
            <!--end of add Sensor-->
            <!--beign of add ObservedProperty-->
            <h2>Add ObservedProperty</h2>
            <div class="form-group">
                <label for="opName" class="col-sm-2 control-label input-lg text-primary ">Name</label>
                <div class="col-sm-10">
                    <select class="input-lg dropdown-toggle" ng-model="data.currentProperty"
                            ng-options="pp.value as pp.propertyName for pp in allProperty"
                            ng-change="switchProperty(data.currentProperty)">
                    </select>
                </div>
            </div>

           <div class="form-group">
                <label class="col-sm-2 control-label input-lg text-primary">Definision</label>
                <div class="col-sm-10">
                    <a class="form-control input-lg" id="opDefinitionID" target="{{formData.definition}}">{{formData.definition}}</a>
                </div>
            </div>

            <div class="form-group">
                <label for="opDescription" class="col-sm-2 control-label input-lg text-primary">Description</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control input-lg" name="opDescription" placeholder="Ex: Room Temp is indoor temp" ng-model="formdata.ObservedProperty.description">
                </div>
            </div>
        </div>
    </div>
</div>
 
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="dashboard.submit" class="btn btn-block btn-info" ng-click=collectData()>
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>