<!-- form-display.html -->
<div class="form-group">
	<h1>Display </h1>
    <p class="text-muted">The endpoint of your Observation : </p>
    <p>
        <a id="Observation_ID" target="{{formData.Observation_url}}">{{formData.Observation_url}}</a>
    </p>

 <div class="col-xs-12">
  <div class="row">
    <div class="col-xs-6">
        <div class="panel panel-default"> 
         <div class="panel-heading">
          Observation Chart
         </div> 
         <div class="panel-body"> 
          <canvas id="line" class="chart chart-line chart-xl" data="oData" labels="oLabels" legend="true" click="onChartClick" series="series"></canvas> 
         </div> 
        </div> 
      </div>
    <div class="col-xs-6">
     <div class="dataTable_wrapper"> 
         <table class="table table-striped table-bordered table-hover" id="observations"> 
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="showObservation" >
        <div class="form-horizontal">
        	<h2>Add Observation</h2>
            <div class="form-group form-horizontal">
               <label for="obResult" class="col-sm-2 control-label input-lg text-primary">More Value</label>
                <div class="col-sm-6">
        					<input type="text" class="form-control input-lg" name="obResult" placeholder="Ex: 40" ng-model="formData.result">
        				</div>
                <button type="submit" class="btn btn-danger" ui-sref="dashboard.display" ng-click="createOb()">Create Observation</button>
          </div>
    </div>
    
  </div>
</div>
</div>
</div>
 	