<!-- form-display.html -->
<div class="form-group">
	<h1>Display </h1>
    <p class="text-muted">The endpoint of your Observation : </p>
    <p>
        <a id="Observation_ID" target="{{formData.Observation_url}}">{{formData.Observation_url}}</a>
    </p>
</div>
 
<div class="col-xs-6 col-xs-offset-3">
    <div id="showObservation" >
        <div class="form-horizontal">
        	<h2>Add Observation</h2>
            <div class="form-group form-horizontal">
               <label for="obResult" class="col-sm-2 control-label input-lg text-primary">More Value</label>
                <div class="col-sm-10">
					<input type="text" class="form-control input-lg" name="obResult" placeholder="Ex: 40" ng-model="formData.obValue">
				</div>
            </div>
    </div>

    <button type="submit" class="btn btn-danger" ui-sref="form.display" ng-click=createOb()>Create Observation</button>
</div>
</div>
 	