<div class="row">
<div class="col-sm-8 col-sm-offset-2">
 
    <div id="form-container">
 
        <div class="page-header text-center">
            <h2>SenesorThings API</h2>
             
            <!-- the links to our nested states using relative paths -->
            <!-- add the active class if the state matches our ui-sref -->
            <div id="status-buttons" class="text-center">
                <a ui-sref-active="active" ui-sref=".thing"><span>1</span> Create Thing</a>
                <a ui-sref-active="active" ui-sref=".content"><span>2</span> Create Content</a>
                <a ui-sref-active="active" ui-sref=".submit"><span>3</span> Confirmation</a>
                <a ui-sref-active="active" ui-sref=".display"><span>4</span> Display Data</a>
            </div>
        </div>
         
        
        <form id="signup-form">
 
            <!-- our nested state views will be injected here -->
            <div id="form-views" ui-view></div>
        </form>
 
    </div> 
</div>
</div>